.green_student{
    -fx-image:url("../graphics/pieces/student_green.png");
}
.red_student{
    -fx-image:url("../graphics/pieces/student_red.png");
}
.yellow_student{
    -fx-image:url("../graphics/pieces/student_yellow.png");
}
.pink_student{
    -fx-image:url("../graphics/pieces/student_pink.png");
}
.blue_student{
    -fx-image:url("../graphics/pieces/student_blue.png");
}
#right{
    -fx-background-color:transparent;
    -fx-background-image: url("../graphics/btn/gold_arrow.png");
    -fx-background-size: stretch;
}

#left{
    -fx-background-color:transparent;
    -fx-background-image: url("../graphics/btn/left_gold_arrow.png");
    -fx-background-size: stretch;
}
.infoBoard{
    -fx-background-color:transparent;
    -fx-background-position:center;
    -fx-background-image: url("../graphics/backgrounds/panel.png");
    -fx-background-size: stretch;
}

.infoTextArea .content{
    -fx-background-color:transparent;;
    -fx-background-image:url("../graphics/backgrounds/panel.png");
    -fx-background-position:-30px -62px;
}
.button{
    -fx-text-fill: white;
    -fx-font-family: "Forte";
    -fx-background-color:transparent;
    -fx-background-image: url("../graphics/btn/gold_button.png");
    -fx-background-size: stretch;
}

.buttonPressed{
-fx-text-fill: white;
    -fx-font-family: "Forte";
    -fx-background-color:transparent;
    -fx-background-image: url("../graphics/btn/button_Pressed.png");
    -fx-background-size: stretch;
}