.button {
    -fx-font-size: 13;
    -fx-text-fill: white;
    -fx-font-family: "Britannic Bold";
    -fx-background-color:transparent;
    -fx-background-image: url("../graphics/btn/transparent_gold_button.png");
    -fx-background-size: stretch;
}
.gold_label{
    -fx-font-size: 15;
    -fx-text-fill:white;
    -fx-font-family: "Britannic Bold";
    -fx-background-color:gold;
    -fx-background-radius:5;
}

.waiting_label{
    -fx-font-size: 30;
    -fx-text-fill:white;
    -fx-font-family: "Britannic Bold";
    -fx-background-size: stretch;
}
.title{
    -fx-font-size: 50;
    -fx-text-fill:white;
    -fx-font-family: "Britannic Bold";
    -fx-background-size: stretch;
}
