.button{
    -fx-text-fill: white;
    -fx-font-family: "Forte";
    -fx-background-color:transparent;
    -fx-background-image: url("../graphics/btn/gold_button.png");
    -fx-background-size: stretch;
}

.buttonPressed{
-fx-text-fill: white;
    -fx-font-family: "Forte";
    -fx-background-color:transparent;
    -fx-background-image: url("../graphics/btn/button_Pressed.png");
    -fx-background-size: stretch;
}

.gold_label{
    -fx-font-size: 15;
    -fx-text-fill:white;
    -fx-font-family: "Forte";
    -fx-background-color:gold;
    -fx-background-radius:5;
}

.waiting_label{
    -fx-font-size: 30;
    -fx-text-fill:white;
    -fx-font-family: "Forte";
    -fx-background-size: stretch;
}
.label{
  -fx-font-size: 15;
  -fx-text-fill:white;
  -fx-font-family: "Forte";
  -fx-background-size: stretch;
}
#title{
    -fx-font-size: 30;
}
#right{
    -fx-background-color:transparent;
    -fx-background-image: url("../graphics/btn/gold_arrow.png");
    -fx-background-size: stretch;
}

