.mainPane{
 -fx-background-image: url("../graphics/backgrounds/Eriantys_slider.jpg");
}
.button{
    -fx-font-family: "Forte";
    -fx-background-color:transparent;
    -fx-background-image: url("../graphics/btn/gold_button.png");
    -fx-background-size: stretch;
}}

#right{
    -fx-background-color:transparent;
    -fx-background-image: url("../graphics/btn/gold_arrow.png");
    -fx-background-size: stretch;
}

#left{
    -fx-background-color:transparent;
    -fx-background-image: url("../graphics/btn/left_gold_arrow.png");
    -fx-background-size: stretch;
}
#title{
 -fx-font-family: "Forte";
 -fx-text-fill: white;
}
